<section id="book-packages" class="pricing-section-1 space--even imagebg image--light">
                <div class="background-image-holder">
                    <img alt="background" src="img/landing-1.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-md-offset-2">
                            <div class="pricing pricing-1 boxed boxed--lg text-center box-shadow">
                                <h4>Indie Pack</h4>
                                <span class="h1">
                                    <span class="pricing__dollar">$</span>10,400</span>
                                    <ul>
                                        <li><b>Incluye</b></li>
                                        <li>ISBN</li>
                                        <li>Formateo de alta calidad</li>
                                        <li>Portada</li>
                                        <li>Entrega de múltiples formatos</li>
                                        <li>Publicación en Amazon</li>
                                    </ul>
                                
                                <a class="btn btn--primary" href="{{url}}/servicios/indie-pack#request">
                                    <span class="btn__text">
                                        Solicitar Servicio
                                    </span>
                                </a>
                            </div>
                            <!--end pricing-->
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="pricing pricing-1 pricing--pull boxed--emphasis boxed boxed--lg text-center box-shadow">
                                <h4>Bestseller Pack</h4>
                                <span class="h1">
                                    <span class="pricing__dollar">$</span>15,800</span>
                                    <ul>
                                        <li><b>Incluye</b></li>
                                        <li>ISBN</li>
                                        <li>Formateo de alta calidad</li>
                                        <li>Portada</li>
                                        <li>Entrega de múltiples formatos</li>
                                        <li>Publicación en Amazon y otras tiendas</li>
                                        <li>Comunicados de prensa</li>
                                    </ul>
                                
                                <a class="btn btn--primary-1" href="{{url}}/servicios/bestseller-pack#request">
                                    <span class="btn__text">
                                        Solicitar Servicio
                                    </span>
                                </a>
                            </div>
                            <!--end pricing-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>