<section class=" ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slider slider--inline-arrows" data-arrows="true">
                                <ul class="slides">
                                    <li>
                                        <div class="row">
                                            <div class="testimonial">
                                                <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-6 text-center">
                                                    <img class="testimonial__image" alt="Image" src="img/testimonio-1.jpg" />
                                                </div>
                                                <div class="col-md-7 col-md-offset-1 col-sm-8 col-xs-12">
                                                    <span class="h3">&ldquo; Desde que Fabro tuvo conocimiento de las características del proyecto editorial que NTR Medios de Comunicación &nbsp;estaba por iniciar en Guadalajara, Jalisco, mostró una especial empatía, misma que lo llevó a ofrecernos su inapreciable apoyo. &rdquo;
                                                    </span>
                                                    <h5>Guillermo Ortega Ruiz</h5>
                                                    <span>NTR Medios de Comunicación</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end of row-->
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="testimonial">
                                                <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-6 text-center">
                                                    <img class="testimonial__image" alt="Image" src="img/testimonio-2.jpg" />
                                                </div>
                                                <div class="col-md-7 col-md-offset-1 col-sm-8 col-xs-12">
                                                    <span class="h3">&ldquo; Felicito y recomiendo ampliamente a Fabro Editores por su eficiencia, eficacia y profesionalismo, ya que en los trabajos que hemos realizado juntos he quedado completamente satisfecho. &rdquo;
                                                    </span>
                                                    <h5>Dr. Luis Alberto Lightbourn</h5>
                                                    <span>Lightbourn Research</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end of row-->
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>