---
layout: main
title: Bestseller Pack
permalink: /services/bestseller-pack/
hosted_button_id: G4XFYZZKRQEY2
---
<div class="tabs-container " data-content-align="left">
<br>
    <ul>
        <li class="active">
            <div class="tab__content">
                <section class="switchable ">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-5">
                                <div class="switchable__text">
                                    <div class="switchable__text">
                                        <h2>Bestseller Pack</h2>
                                        <p class="lead">
                                            Si eres nuevo en el mundo de la publicación electrónica y deseas publicar y vender tu libro por internet pero no sabes por donde empezar este paquete es para ti. Nosotros nos ecargamos de todo el proceso, desde el formato del libro hasta su colocación en las mejores tiendas.
                                        </p>
                                        <div class="boxed boxed--border  bg--secondary boxed--lg box-shadow">
                                            <p>
                                                Gracias a Fabro publiqué mi libro en Amazon y este llegó al segundo lugar de libros más vendidos en la categoría de escritura.
                                            </p>

                                            <p class="text-right" style="padding: 0; margin: 0;">
                                                <b>Victoriano Garza</b>
                                            </p>
                                            <p class="text-right" style="padding: 0; margin: 0;">
                                                <a href="https://www.amazon.com/C%C3%B3mo-escribe-academia-ciencia-Spanish-ebook/dp/B00VY0Z1GI/ref=sr_1_1?ie=UTF8&qid=1504829703&sr=8-1&keywords=como+se+escribe+en+la+academia" target="_blank">Como se escribe en la academia y la ciencia</a>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-pull-1 col-xs-12">
                                <div class="pricing pricing-1 boxed boxed--lg boxed--border">
                                    <h3>Precio</h3>
                                    <span class="h2">
                                        <strong>$10400</strong>
                                    </span>
                                   
                                    
                                    <hr>
                                    <ul>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>ISBN</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Formateo de alta calidad</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Portada</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Validación de ePub</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Validación de mobi</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Cuentas (Amazon, Smashwords)</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Publicación en Amazon, Apple y otros</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Soporte</span>
                                        </li>
                                    </ul>

                                    {% include paypal.html %}


                                </div>
                                <!--end of pricing-->
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </section>
            </div>
        </li>
        
    </ul>
</div>

{% include service_contact.html %}