---
layout: main
title: Indie Pack
permalink: /servicios/indie-pack/
hosted_button_id: YD33BEZSZ3ZEY
---

<div class="tabs-container " data-content-align="left">
<br>

    <ul>
        <li class="active">
            <div class="tab__content">
                <section class="switchable ">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-5">
                                <div class="switchable__text">
                                    <div class="switchable__text">
                                        <h2>Indie Pack</h2>
                                        <p class="lead">
                                            Si ya sabes como publicar tu libro en línea pero no sabes como formatear un ebook de calidad este paquete es para ti. Nosotros nos hacemos cargo de la parte técnica y tu del resto. Este paquete también te ayuda a ahorrarte uno pesos.
                                        </p>
                                        <div class="boxed boxed--border  bg--secondary boxed--lg box-shadow">
                                            <p> 
                                                No quería preocuparme por la calidad de mi libro así que recurrí a Fabro y realmente no encontré servicio más fácil y cómodo. Mis siguientes libros los publicaré con ellos. 
                                            </p>

                                            <p class="text-right" style="padding: 0; margin: 0;">
                                                <b>Emiliano Villa</b>
                                            </p>
                                            <p class="text-right" style="padding: 0; margin: 0;">
                                                <a href="https://www.amazon.com/Ross-P%C3%A9rez-resuelve-trabajo-Detective-ebook/dp/B00JDK2ZTW/ref=sr_1_fkmr0_2?s=books&ie=UTF8&qid=1504830062&sr=1-2-fkmr0&keywords=emilio+villa+resuelve" target="_blank">Ross Pérez resuelve</a>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-pull-1 col-xs-12">
                                <div class="pricing pricing-1 boxed boxed--lg boxed--border">
                                    <h3>Price</h3>
                                    <span class="h2">
                                        <strong>$13,500</strong>
                                    </span>
                                    <span class="label">Clients Choice</span>
                                    
                                    <hr>
                                    <ul>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Registro ISBN</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Formateo digital</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Portada</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Entrega de  múltiples formatos</span>
                                        </li>
                                        <li>
                                            <span class="checkmark bg--primary-1"></span>
                                            <span>Publicación en Amazon</span>
                                        </li>
                                    </ul>

                                    {% include paypal.html %}

                                </div>
                                <!--end of pricing-->
                            </div>

                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </section>
            </div>
        </li>
    </ul>
</div>


{% include service_contact.html %}